<launch>
	<node pkg="gps" type="setup.sh" output="screen" name="bashlol"/>

	<!-- will fail once -->
	<node pkg="gpsd_client" type="gpsd_client" name="gpsd_client" output="screen" respawn="true">
		<param name="host" value="localhost" />
		<param name="port" value="2947" />
		<param name="use_gps_time" value="false" />
	</node>
</launch>
